/* common shaed styles*/
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* header related styles*/
header{
    background: rgba(229, 84, 115, 0.10);
}
.btn-primary{
    border-radius: 8px;
    background:#E55473;
    border: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 45px;
}
.banner{
    display: flex;
    align-items: center;
}
.banner .bn-pic{
    margin-right: 100px;
    margin-top: 50px;
    width: 500px;
    height: 600px;
   
}
.banner-title{
    font-size: 60px;
    font-weight: 800;
    color: #272727;
    margin-bottom: 0px;
    margin-right: 0px;
}
.banner-content{
    padding-left: 150px;
}
.banner-content p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400; 
}
.featured{
    padding-top: 130px;
}
.featured-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}